<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2c2c2c">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#2c2c2c">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">

    <title>About</title>
    <link rel="shortcut icon" href="static/images/logo/favicon.ico" type="image/x-icon" />
    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!-- Theme-Color css -->
    <link rel="stylesheet" id="jssDefault" href="css/color.css">
    <link rel="stylesheet" type="text/css" href="css/blogeditor.css">


</head>

<body>

<div class="main-page-wrapper">
    <!-- ===================================================
        Loading Transition
    ==================================================== -->
    <div id="loader-wrapper">
        <div id="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>


    <!-- ==================== Style Switcher ==================== -->

    <!-- ===================================================
        About Me Wrapper
    ==================================================== -->
    <div class="about-me-wrapper">
        <div class="back-to-home"><a href="/" style="color:white;"><i class="flaticon-left-arrow"></i> HOME</a></div>
        <div class="main-text-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-12">
                        <h2>Lynn Chae</h2>
                        <h3>A Programmer</h3>
                        <p>Hi，我是一位来自魔都的程序员，这是我的第一个简单博客网站，很久没接触前端，springboot+thymeleaf也是第一次尝试，还请各位多多指教.....</p>
                        <ul>
                            <!--<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
                            <!--<li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
                            <!--<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>-->
                            <!--<li><a href="#"><i class="fab fa-pinterest"></i></a></li>-->
                            <!--<li><a href="#"><i class="fab fa-dribbble"></i></a></li>-->
                            <!--<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>-->
                            <!--<li><a href="#"><i class="fab fa-behance"></i></a></li>-->
                            <li><a href="/contact"><i class="fas fa-at"></i></a></li>
                            <li><a href="https://www.weibo.com/lynnchae" target="_blank"><i
                                    class="fab fa-weibo"></i></a></li>
                            <li><a href="/contact"><i class="fab fa-weixin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.about-me-wrapper -->


    <!-- Optional JavaScript _____________________________  -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="vendor/jquery.2.2.3.min.js"></script>
    <!-- Popper js -->
    <script src="vendor/popper.js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Style-switcher  -->
    <script src="vendor/jQuery.style.switcher.min.js"></script>
    <!-- jquery-easy-ticker-master -->
    <script src="vendor/jquery-easy-ticker-master/jquery.easy-ticker.min.js"></script>
    <!-- jquery easing -->
    <script src="vendor/jquery.easing.1.3.js"></script>
    <!-- Font Awesome -->
    <script src="https://lib.baomitu.com/font-awesome/5.5.0/advanced-options/use-with-node-js/fontawesome-free/js/all.min.js" ></script>
    <!-- menu  -->
    <script src="vendor/menu/src/js/jquery.slimmenu.js"></script>
    <!-- owl.carousel -->
    <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- Fancybox -->
    <script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- Youtube Video -->
    <script src="vendor/jquery.fitvids.js"></script>
    <!-- Masonary js -->
    <script src="vendor/masonry.pkgd.min.js"></script>

    <!-- Theme js -->
    <script src="js/theme.min.js"></script>
</div> <!-- /.main-page-wrapper -->
</body>
</html>
