<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2c2c2c">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#2c2c2c">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">

    <title>Blog</title>

    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <!-- Theme-Color css -->
    <link rel="stylesheet" id="jssDefault" th:href="@{/css/color.css}">
    <link id="linkstyle" rel='stylesheet' th:href="@{/css/markdown.css}"/>


    <!-- Fix Internet Explorer ______________________________________-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script th:src="@{/vendor/html5shiv.js}"></script>
    <script th:src="@{/vendor/respond.js}"></script>
    <![endif]-->


</head>

<body>

<div class="main-page-wrapper">
    <!-- ===================================================
        Loading Transition
    ==================================================== -->
    <div id="loader-wrapper">
        <div id="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- ===================================================
        About Me Wrapper
    ==================================================== -->
    <div id="blogdetail" class="user-blog">
        <div class="back-to-home fixed"><a href="/"><i class="flaticon-left-arrow"></i> HOME</a></div>
        <div class="main-text-wrapper">
            <div class="container">
                <div style="padding-top: 55px">
                    <h2 align="center" th:text="${blog.title}"></h2>
                    <div class="md-content" th:utext="${blog.content}"></div>
                </div>

                <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#dc3545,strength=10)" color=#dc3545 SIZE=3>
                <h3 ><strong>评论区</strong></h3>
                <div class="comment-meta" style="margin-top: 20px" th:each="comment:${comments}">
                    <div class="single-comment" >
                        <div class="comment">
                            <h6><a th:text="${comment.commenter}"></a></h6>
                            <p th:utext="${comment.comment}"></p>
                            <button class="reply">回复</button>
                            <div class="comment-form" style="width:60%;margin-top: 20px;margin-left: 70px;display: none;">
                                <form method="post" class="form-validation" autocomplete="off">
                                    <input type="text" required="true" placeholder="Name*" name="commenter" autofocus>
                                    <input type="text" required="true" placeholder="Email*" name="commenterEmail" autofocus>
                                    <p><textarea required="true" placeholder="内容" name="comment"></textarea></p>
                                    <input type="text" hidden name="blogId" th:value="${blog.id}">
                                    <input type="text" hidden name="replyTo" th:value="${comment.commenter}">
                                    <input type="text" hidden name="parentId" th:value="${comment.id}">
                                    <button class="theme-button-one" onclick="javascript:sendComment(this)"    style="margin-bottom: 20px">提交</button>
                                </form>
                            </div>
                        </div>
                        <div class="reply-comment" th:each="childComment:${comment.comments}">
                            <h6><a th:text="${childComment.commenter}"></a></h6>
                            <p th:utext=" (${childComment.replyTo == ''} ? '' : '<strong>@' + ${childComment.replyTo} + '</strong>  ')  + ${childComment.comment}"></p>
                            <button class="reply">回复</button>
                            <div class="comment-form" style="width:60%;margin-top: 20px;margin-left: 70px;display: none;">
                                <form method="post" class="form-validation" autocomplete="off">
                                    <input type="text" required="true" placeholder="Name*" name="commenter" autofocus>
                                    <input type="text" required="true" placeholder="Email*" name="commenterEmail" autofocus>
                                    <input type="text" hidden name="blogId" th:value="${blog.id}">
                                    <input type="text" hidden name="replyTo" th:value="${childComment.commenter}">
                                    <input type="text" hidden name="parentId" th:value="${comment.id}">
                                    <p><textarea  required="true" placeholder="内容" name="comment"></textarea></p>
                                    <button class="theme-button-one" onclick="javascript:sendComment(this)"   style="margin-bottom: 20px">提交</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#dc3545,strength=10)" color=#dc3545 SIZE=3>
                <h3 ><strong>留下你的评论</strong></h3>
                <div  class="comment-form" style="margin-top: 20px">
                    <form id="main-comment" method="post" class="form-validation" autocomplete="off">
                        <br/>
                        <input type="text" required="true" placeholder="Name*" name="commenter" autofocus>
                        <br/>
                        <input type="text" required="true" placeholder="Email*" name="commenterEmail" autofocus>
                        <input type="text" hidden name="blogId" th:value="${blog.id}">
                        <input type="text" hidden name="replyTo" value="">
                        <input type="text" hidden name="parentId" value="0">
                        <br/>
                        <p><textarea required="true" placeholder="内容" name="comment"></textarea></p>
                        <button class="theme-button-one" onclick="javascript:sendComment(this)"  style="margin-bottom: 20px">Post Comment</button>
                    </form>
                </div>
            </div>
        </div> <!-- /.main-text-wrapper -->
        <!--Contact Form Validation Markup -->
        <!-- Contact alert -->
        <div class="alert-wrapper" id="alert-success">
            <div id="success">
                <button class="closeAlert"><i class="fas fa-window-close"></i></button>
                <div class="wrapper">
                    <p>Your message was sent successfully.</p>
                </div>
            </div>
        </div> <!-- End of .alert_wrapper -->
        <div class="alert-wrapper" id="alert-error">
            <div id="error">
                <button class="closeAlert"><i class="fas fa-window-close"></i></button>
                <div class="wrapper">
                    <p>Sorry!Something Went Wrong.</p>
                </div>
            </div>
        </div> <!-- End of .alert_wrapper -->
    </div> <!-- /.contact-us -->
    <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    <!-- Optional JavaScript _____________________________  -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script th:src="@{/vendor/jquery.2.2.3.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{/vendor/popper.js/popper.min.js}"></script>
    <!-- Bootstrap JS -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Style-switcher  -->
    <script th:src="@{/vendor/jQuery.style.switcher.min.js}"></script>
    <!-- jquery-easy-ticker-master -->
    <script th:src="@{/vendor/jquery-easy-ticker-master/jquery.easy-ticker.min.js}"></script>
    <!-- jquery easing -->
    <script th:src="@{/vendor/jquery.easing.1.3.js}"></script>
    <!-- Font Awesome -->
    <script th:src="@{/fonts/font-awesome/fontawesome-all.min.js}"></script>
    <!-- Validation -->
    <script type="text/javascript" th:src="@{/vendor/contact-form/validate.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/contact-form/jquery.form.js}"></script>

    <!-- Theme js -->
    <script th:src="@{/js/theme.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".reply").click(function(){
                $(this).parent().find(".comment-form").toggle(500,function(){})
            });
        });

        function sendComment(obj){
            var form = new FormData(obj.parentNode);
            $.ajax({
                url:"/comment/sendComment",
                type:"post",
                data:form,
                processData:false,
                contentType:false,
                success:function(data){
                    console.log("over..");
                },
                error:function(e){
                }
            });
        }
    </script>
</div> <!-- /.main-page-wrapper -->
</body>
</html>
